.account-search {
  width: 100%;

  p {
    font-weight: 600;
    padding-left: 8px;
    padding-right: 12px;
    font-size: 1.7rem;
  }
}

.account-search-title {
  width: 100%;
  font-size: 1.4rem;
  padding: 5px 12px 3px;
  font-weight: 500;
}
.account-search-item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 9px 16px;
}

.account-search-item-icon {
  width: 16px;
  height: 16px;
}
.account-search {
}
.account-search-title {
}
.account-search-item {
}
.account-search-item-icon {
}
